---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'clearfix';
@import 'list-space';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');

$FONT: "Poppins", "Apple LiGothic", sans-serif;
$ORANGE: #D09949;
$GREY: #6c6f67;
$BRIGHT_GREY: #a3a89c;
$BAR_BORDERS: 1px solid $GREY;
$BAR_BOTTOM_SPACE: 13px;
$MOBILE: 650px;

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $FONT;
  font-weight: 200;
  background-color: black;
  color: $GREY;

  a {
    color: $GREY;
  }
}

header, footer {
  @include clearfix();
  left: 0;
  right: 0;
  position: fixed;
  padding: 2.5em 2.5em $BAR_BOTTOM_SPACE;
  background-color: black;
  font-weight: 500;
  color: $GREY;
  text-transform: uppercase;

  @media screen and (max-width: $MOBILE) {
    position: inherit;
  }

  a {
    text-decoration: none;
  }
}

nav, article {
  max-width: 1024px;
  margin: 0 auto;
}

article, p, li {
  color: $BRIGHT_GREY;
  font-family: "Open Sans", sans-serif;
  font-size: 10.5pt;

  img {
    margin: 1em;
    max-width: calc(100% - 2em);
  }

  a {
    color: $BRIGHT_GREY;

    &:hover {
    color: $ORANGE;
    }
  }
}

footer {
  text-align: right;
  bottom: 0;
  border-top: $BAR_BORDERS;
  font-size: 8pt;
  letter-spacing: 2pt;

  div {
    display: inline-block;
    @include list-space(2em, right);

    @media screen and (max-width: 650px) {
      @include list-space(0, right);
      @include list-space(2em, bottom);
    }
  }

  a {
    display: block;
    text-decoration: none;
  }
}

header {
  border-bottom: $BAR_BORDERS;
  font-size: 8pt;
  letter-spacing: 3.5pt;

  a[href='#menu'] {
    display: none;
    font-size: 1.8em;
    text-decoration: none;

    @media screen and (max-width: $MOBILE) {
      display: block;
      float: right;
      margin-top: -0.6em;
    }
  }

  nav {
    text-align: right;

    a {
      display: inline-block;
      text-decoration: none;
      @include list-space(2em, right);

      &:first-child {
        float: left;
        color: $ORANGE;

        &.selected, &:hover {
          &:after {
            height: 0;
          }
        }
      }

      &.selected, &:hover {
        color: $ORANGE;
      }

      &.selected:after {
        content: "";
        display: block;
        width: 0;
        height: 0.5em;
        border-left: $BAR_BORDERS;
        margin: 0.7em auto -#{$BAR_BOTTOM_SPACE};
      }
    }

    @media screen and (max-width: $MOBILE) {
      a {
        display: none;

        &:first-child {
          display: block;
        }

        &.selected:after {
          content: none;
        }
      }

      &:target {
        a {
          display: block;
          margin-top: 1em;
          float: none;
          width: 100%;
          text-align: left;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      &:target + a[href='#menu'] {
        display: none;
      }
    }
  }
}

$FILM_TITLE_FONT_HEIGHT: 15pt;
$FILM_SUBTITLE_FONT_HEIGHT: 10pt;
$FILM_LINE_EXTRA: 0.2em;
$SPACE_FORMULA_BOTTOM: calc(#{$FILM_TITLE_FONT_HEIGHT} + #{$FILM_SUBTITLE_FONT_HEIGHT} + #{$FILM_LINE_EXTRA} + 2em);
$SPACE_FORMULA: calc(50vh - 9em - 33.5vmin/1.5);
$HEADER_FOOTER_HEIGHT: 3.5em;

main {
  padding: $HEADER_FOOTER_HEIGHT 2em;

  .slides {
    padding-bottom: $SPACE_FORMULA;
  }

  @media screen and (max-width: $MOBILE) {
    padding: 0.5em;
  }
}

.production {
  width: 50vw;
  margin: 0 auto;

  .top {
    display: grid;
    grid-template-columns: 50vw 45vw;
    margin-left: -25vw;

    @media screen and (max-width: $MOBILE) {
      grid-template-columns: 100vw;
    }

    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: calc(100vh - 7.5em);
      z-index: 0;
      background-size: cover;
      filter: blur(5px);
      z-index: -1;
    }

    #details {
      grid-row: 1;
      grid-column: 1;
      width: 75%;
      margin: 0 auto;
    }

    #poster {
      grid-row: 1;
      grid-column: 2;
      max-height: calc(100vh - 7.5em);

      @media screen and (max-width: $MOBILE) {
        grid-row: 2;
        grid-column: 1;
      }
    }
  }

  #details > :not(h1) {
    margin: 85px auto;
  }

  video, iframe {
    width: 99vw;
    height: calc(100vh - 7.5em);
    margin-left: -25vw;

    @media screen and (max-width: $MOBILE) {
      margin-left: -10vw;
    }
  }

  nav {
    text-align: center;
    a {
      @include list-space(2em, right);

      &:hover {
        color: $ORANGE;
      }
    }
  }

  h1 {
    padding-top: 130px;
    padding-top: 80px;
  }

  h2 {
    margin-top: 80px;
    padding-top: 80px;
  }

  p, li {
    margin-top: 30px;
    letter-spacing: 1pt;
    font-size: 11pt;
    line-height: 24pt;
    text-align: justify;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-top: 0.5em;
    }
  }

  #poster {
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

h1, h2, nav a {
  font-family: $FONT;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 4pt;
}

.slide, #details {
  h1 {
    font-size: 30pt;
    margin-bottom: 0;
    text-align: center;

    @media screen and (max-width: 800px) {
      font-size: calc(1.8vw + 10pt);
    }
  }

  h2:first-of-type, nav a {
    font-size: $FILM_SUBTITLE_FONT_HEIGHT;
    margin-top: 0.5em;
    text-align: center;

    @media screen and (max-width: 800px) {
      font-size: calc(1vw + 5pt);
    }
  }
}

.slide {
  width: 80vw;
  max-width: 800px;
  font-family: $FONT;
  margin: $SPACE_FORMULA auto $SPACE_FORMULA_BOTTOM;

  h1 {
    font-size: $FILM_TITLE_FONT_HEIGHT;

    &::after {
      content: '';
      display: block;
      width: 80%;
      margin: $FILM_LINE_EXTRA auto 0;
      border-bottom: 1px solid $GREY;
    }
  }

  a {
    text-decoration: none;
  }

  video {
    width: 100%;
    height: 33.5vw;
    max-height: 335px;
  }
}

$POSTER_WIDTH: 40vw;
$POSTER_PAD: 5vh;

.slides.horizontal {
  position: fixed;

  .slide {
    float:left;
    margin-left: -400px;
    margin-right: calc(400px + 10vw);
    @media screen and (max-width: 1000px) {
      margin-left: -40vw;
      margin-right: 50vw;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
