---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'clearfix';
@import 'list-space';

$FONT: "Poppins Medium", "Apple LiGothic", sans-serif;
$ORANGE: #D09949;
$GREY: #6c6f67;
$BAR_BORDERS: 1px solid $GREY;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: black;

  *, a {
    color: $GREY;
  }
}

header, footer {
  @include clearfix();
  left: 0;
  right: 0;
  position: fixed;
  padding: 2.5em 2.5em 1em;
  background-color: black;
  font-family: $FONT;
  color: $GREY;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  nav {
    max-width: 1024px;
    margin: 0 auto;
  }
}

footer {
  text-align: right;
  bottom: 0;
  border-top: $BAR_BORDERS;
  font-size: 8pt;
  letter-spacing: 2pt;

  div {
    display: inline-block;
    @include list-space(2em);
  }

  a {
    display: block;
    text-decoration: none;
  }
}

header {
  border-bottom: $BAR_BORDERS;
  font-size: 8pt;
  letter-spacing: 3.5pt;

  nav {
    text-align: right;

    a {
      display: inline-block;
      text-decoration: none;
      @include list-space(2em);

      &:first-child {
        float: left;
        color: $ORANGE;

        &.selected, &:hover {
          &:after {
            height: 0;
          }
        }
      }

      &.selected, &:hover {
        color: $ORANGE;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0.5em;
          border-left: $BAR_BORDERS;
          margin: 0.7em auto -1em;
        }
      }
    }
  }
}

main {
  padding: 3.5em 2em;
}

.slide {
  width: 80vw;
  height: 33.5vw;
  background-color: grey;
  max-width: 800px;
  max-height: 335px;
  margin: 4em auto;

  video {
    width: 100%;
    height: 100%;
  }
}