---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'clearfix';
@import 'list-space';

$FONT: "Poppins", "Apple LiGothic", sans-serif;
$ORANGE: #D09949;
$GREY: #6c6f67;
$BRIGHT_GREY: #a3a89c;
$BAR_BORDERS: 1px solid $GREY;
$BAR_BOTTOM_SPACE: 13px;

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $FONT;
  font-weight: 200;
  background-color: black;
  color: $GREY;

  a {
    color: $GREY;
  }
}

header, footer {
  @include clearfix();
  left: 0;
  right: 0;
  position: fixed;
  padding: 2.5em 2.5em $BAR_BOTTOM_SPACE;
  background-color: black;
  font-weight: 500;
  color: $GREY;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }
}

nav, article {
  max-width: 1024px;
  margin: 0 auto;
}

article {
  color: $BRIGHT_GREY;
  font-family: "Open Sans", sans-serif;
  font-size: 10.5pt;
}

footer {
  text-align: right;
  bottom: 0;
  border-top: $BAR_BORDERS;
  font-size: 8pt;
  letter-spacing: 2pt;

  div {
    display: inline-block;
    @include list-space(2em);
  }

  a {
    display: block;
    text-decoration: none;
  }
}

header {
  border-bottom: $BAR_BORDERS;
  font-size: 8pt;
  letter-spacing: 3.5pt;

  nav {
    text-align: right;

    a {
      display: inline-block;
      text-decoration: none;
      @include list-space(2em);

      &:first-child {
        float: left;
        color: $ORANGE;

        &.selected, &:hover {
          &:after {
            height: 0;
          }
        }
      }

      &.selected, &:hover {
        color: $ORANGE;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0.5em;
          border-left: $BAR_BORDERS;
          margin: 0.7em auto -#{$BAR_BOTTOM_SPACE};
        }
      }
    }
  }
}

$FILM_TITLE_FONT_HEIGHT: 15pt;
$FILM_SUBTITLE_FONT_HEIGHT: 10pt;
$FILM_LINE_EXTRA: 0.2em;
$SPACE_FORMULA_BOTTOM: calc(#{$FILM_TITLE_FONT_HEIGHT} + #{$FILM_SUBTITLE_FONT_HEIGHT} + #{$FILM_LINE_EXTRA} + 2em);
$SPACE_FORMULA: calc(50vh - 9em - 33.5vmin/1.5);
$HEADER_FOOTER_HEIGHT: 3.5em;

main {
  padding: $HEADER_FOOTER_HEIGHT 2em;

  .slides {
    padding-bottom: $SPACE_FORMULA;
  }

}
  .production {
    display: grid;
    grid-template-columns: auto auto;
  }

.slide {
  width: 80vw;
  max-width: 800px;
  font-family: $FONT;
  margin: $SPACE_FORMULA auto $SPACE_FORMULA_BOTTOM;

  a {
    text-decoration: none;
  }

  h1, h2 {
    font-family: $FONT;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4pt;
  }

  h1 {
    font-size: $FILM_TITLE_FONT_HEIGHT;
    margin-bottom: 0;

    @media screen and (max-width: 800px) {
      font-size: calc(1.8vw + 10pt);
    }

    &::after {
      content: '';
      display: block;
      width: 80%;
      margin: $FILM_LINE_EXTRA auto 0;
      border-bottom: 1px solid $GREY;
    }
  }

  h2 {
    font-size: $FILM_SUBTITLE_FONT_HEIGHT;
    margin-top: 0.5em;

    @media screen and (max-width: 800px) {
      font-size: calc(1vw + 5pt);
    }
  }

  video {
    width: 100%;
    height: 33.5vw;
    max-height: 335px;
  }
}

$POSTER_WIDTH: 40vw;
$POSTER_PAD: 5vh;

#poster {
  max-height: calc(90vh - 2 * #{$HEADER_FOOTER_HEIGHT});
  max-width: 40vw;
  margin-top: $POSTER_PAD;
  margin-left: $POSTER_PAD;
}

#description {
  margin: 0 4vw 0 8vw;
  padding-top: 3vh;
  letter-spacing: 1pt;
  font-size: 10pt;
  line-height: 14pt;
  text-align: justify;
}

.slides.horizontal {
  position: fixed;

  .slide {
    float:left;
    margin-left: -400px;
    margin-right: calc(400px + 10vw);
    @media screen and (max-width: 1000px) {
      margin-left: -40vw;
      margin-right: 50vw;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}