@font-face {
    font-family: 'Poppins';
    src: url('poppins-medium-webfont.woff2') format('woff2'),
         url('poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins-extralight-webfont.woff2') format('woff2'),
         url('poppins-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}