{% include relative.html %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title and page.title != site.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{relative}}css/poppins-webfont.css" />
    <link rel="stylesheet" type="text/css" href="{{relative}}css/opensans-webfont.css" />
    <link rel="stylesheet" type="text/css" href="{{relative}}css/main.css" />
</head>
