---
layout: default
---

<div class="slides">
  {% assign list = site.collections | where: 'label', page.collection %}
  {% assign films = list[0]['docs'] | sort: 'year' | reverse %}
  {% for film in films %}
  <div class="slide" vocab="http://schema.org/" typeof="Movie">
    <video property="video" typeof="VideoObject" autoplay muted loop>
      <source property="url" src="{{ film.video_url | prepend: 'uploads/' | relative_url }}">
    </video>
    {% if film.poster %}
      <meta property="image" typeof="URL" content"{{ film.poster | prepend: 'uploads/' | relative_url }}"/>
    {% endif %}
    <a name="{{ film.slug }}" property="url" {% if film.content %} href="{{ film.url | relative_url }}" {% endif %}>
      <h1 property="name">{{ film.title }}</h1>
      <h2>{{ film.kind }}, <span property="datePublished">{{ film.year }}</span></h2>
    </a>
  </div>
  {% endfor %}
</div>

<script langage="javascript">
// Gets the actual style properties of an element
getStyle = function(el) {
  return (typeof getComputedStyle !== 'undefined' ? getComputedStyle(el, null) : el.currentStyle);
}

// Moves the horizontal scroll to the specified pixel position.
changePosition = function(newLeft) {
  document.querySelector('.slides').style['left'] = 'calc(' + newLeft + 'px + 50%)';
}

// Returns a value between 0 and 1 representing the current scroll position through the page.
scrollFraction = function() {
  var h = document.documentElement,
      b = document.body,
      st = 'scrollTop',
      sh = 'scrollHeight';
    return (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight);
}

slideWidth = function() {
  var style = getStyle(document.querySelector('.slide'));
  return (parseFloat(style.width) + parseFloat(style.marginRight) + parseFloat(style.marginLeft));
}

handleScroll = function(e) {
  var newLeft = scrollFraction() * -slideWidth() * ({{ films.size }} - 1);
  changePosition(newLeft);
}

// Sets up the view to use horizontal scrolling
setHorizontalMode = function() {
  document.querySelector('main').style['min-height'] = document.querySelector('.slides').clientHeight + 'px';
  document.querySelector('.slides').classList.add('horizontal');
  document.querySelector('.slides').style['width'] = 'calc(' + ({{ films.size }}) + ' * ' + slideWidth() + 'px)';
  window.addEventListener('scroll', handleScroll);
  changePosition(0);
}

// Removes horizontal scroll effect from the view
clearHorizontalMode = function() {
  document.querySelector('main').style['min-height'] = "";
  document.querySelector('.slides').classList.remove('horizontal');
  document.querySelector('.slides').style['width'] = "";
  document.querySelector('.slides').style['left'] = "";
  window.removeEventListener('scroll', handleScroll);
}

var isHorizontalMode = false;
handleWindowWidth = function() {
  if (window.innerWidth > 650 && !isHorizontalMode) {
    console.log("Entering horizontal mode")
    isHorizontalMode = true;
    setHorizontalMode();
  } else if (window.innerWidth <= 650 && isHorizontalMode) {
    console.log("Leaving horizontal mode")
    isHorizontalMode = false;
    clearHorizontalMode();
  }
}

var amHandling = false;
throttleWindowWidth = function() {
  if (!amHandling) {
    amHandling = true;
    setTimeout(function() {
      amHandling = false;
      handleWindowWidth();
    }, 100);
  }
}

window.addEventListener('resize', throttleWindowWidth);
handleWindowWidth();
</script>
