---
layout: default
---

<div class="slides">
  {% assign list = site.collections | where: 'label', page.collection %}
  {% assign films = list[0]['docs'] | sort: 'year' | reverse %}
  {% for film in films %}
  <div class="slide">
    <video src="{{ film.url | relative_url }}/../{{ film.video_url }}" autoplay muted loop></video>
    <a href="{{ film.url | relative_url }}">
      <h1>{{ film.name }}</h1>
      <h2>{{ film.kind }}, {{ film.year }}</h2>
    </a>
  </div>
  {% endfor %}
</div>

<script langage="javascript">
document.querySelector('main').style['min-height'] = document.querySelector('.slides').clientHeight + 'px';
document.querySelector('.slides').classList.add('horizontal');
document.querySelector('.slides').style['width'] = 'calc(' + ({{ films.size }}) + ' * 920px)';
changePosition = function(newLeft) {
  document.querySelector('.slides').style['left'] = 'calc(' + newLeft + 'px + 50%)';
}
scrollFraction = function() {
  var h = document.documentElement,
      b = document.body,
      st = 'scrollTop',
      sh = 'scrollHeight';
    return (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight);
}
getStyle = function(el) {
  return (typeof getComputedStyle !== 'undefined' ? getComputedStyle(el, null) : el.currentStyle);
}
window.addEventListener('scroll', function(e) {
  var style = getStyle(document.querySelector('.slide'));
  var slideWidth = (parseFloat(style.width) + parseFloat(style.marginRight) + parseFloat(style.marginLeft));
  var newLeft = scrollFraction() * -slideWidth * ({{ films.size }} - 1);
  changePosition(newLeft);
});
changePosition(0);
</script>
